* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "DungGeunMo";
  font-weight: normal;
  src: url("./fonts/DungGeunMo.ttf") format("truetype");
}

@font-face {
  font-family: "DNFBitBitv2";
  font-weight: normal;
  src: url("./fonts/DNFBitBitv2.ttf") format("truetype");
}
